services:
  - type: web
    name: ze-fashion-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_FILE
        value: /var/data/db.sqlite
    disk:
      name: sqlite-data
      mountPath: /var/data
      sizeGB: 1
